Django==4.2
djangorestframework==3.15.1
django-cors-headers==4.3.1
django-filter==23.5
Pillow==10.2.0
drf-nested-routers==0.93.4
dj-database-url==1.0.0
python-dotenv==1.0.0
gunicorn==22.0.0
whitenoise==1.4.1
psycopg2-binary==2.9.10
